.marketing_image {
    width: 100px;
    height: 100px;
}
.galery_image {
    height: 175px;
}

.hatter {
    background-image: url("../image/bg.jpg");
}

.hatter_box{
    background-color: rgba(0,0,0,0) !important;
    border: 0px;
}

.hatter_box_header{
    background-color: rgba(0,0,0,0) !important;
    color: white;
    border-bottom: 1px solid;
}

.white-color{
    color: white;
}

.index-image {
    border-width: 5px; 
    border-style:solid; 
    border-color: #330000; 
}

.site-footer {
    background: black;
    opacity:0.8;
}

.image-size {
    height: 420px; 
    border-width: 5px; 
    border-style:solid; 
    border-color: #330000; 
}

.banner-size {
    width: 1140px;
    height: 200px;
}

.fb_image {
    border: solid;
    border-radius: 20px;
    border-color: #3b5998;
    margin: 10px;
    width: 30px;
    height: 30px;
}

.black-color {
    color: black;
}

.text-footer-image {
    color: black;
    margin-right: 40px;
}

.float_right {
    float: right;
}

.dropdown-menu > li > a {
    color: gray;
}

.sponsors > li > a {
    padding: 5px;
}

.sponsors > li > a > img {
    margin-top: 10px;
    height:30px;
}

.profile {
    border-radius: 300px;
    border-style: solid;
    border-color: rgba(0,0,0,0);
    border-width: 1px;
    width: 65px;
    height: 65px;
   
}

.main {
    margin-top: 60px;
}

.foot {
    margin-bottom: 30px !important;
}

.foot1 {
    margin-bottom: 90px !important;
}

.box {
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 10px; 
}

.box-size {
    height: 400px;
}

.rotation:hover {
  -webkit-animation: rotation 2s linear infinite;
    -moz-animation: rotation 2s linear infinite;
    -ms-animation: rotation 2s linear infinite;
}

@-webkit-keyframes rotation {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotation {
    0%   { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
}
@-ms-keyframes rotation {
    0%   { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); }
}

.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}

.pic1 {
-ms-transform: rotate(2deg); /* IE 9 */
    -webkit-transform: rotate(2deg); /* Chrome, Safari, Opera */
    transform: rotate(2deg);
}

.pic2 {
     -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);

}

.pic3 {
     -ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);

}

.pic4 {
     -ms-transform: rotate(-12deg); /* IE 9 */
    -webkit-transform: rotate(-12deg); /* Chrome, Safari, Opera */
    transform: rotate(-12deg);

}

.pic5 {
 -ms-transform: rotate(12deg); /* IE 9 */
    -webkit-transform: rotate(12deg); /* Chrome, Safari, Opera */
    transform: rotate(12deg);
}

.pic6 {
 -ms-transform: rotate(17deg); /* IE 9 */
    -webkit-transform: rotate(17deg); /* Chrome, Safari, Opera */
    transform: rotate(17deg);
}

.move {
    margin-top: -20px;
}

.galery img {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom:20px;
}

.galery img:hover {
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
  }

.piros {
    opacity: 0.8
}

.modalka {
    width: 1140px !important;
    margin-left: -262px !important;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
